<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Twittar</title>
  </head>

  <body>
    <% connectedUserTweetDet.forEach((element, index)=> { %>

    <form
      action="/tweets/<%=tweetId%>"
      method="post"
      class="tweet-container-form hr"
    >
      <div class="tweet-container-message">
        <label for="message"></label>
        <div class="tweet-container-text">
          <textarea
            name="message"
            id="message"
            placeholder="tweet : <%= element.texts %> created the: <%= element.creation_date %> by: @<%= element.username %>
                    "
          ></textarea>

          <div id="appearEmo">
            <div>🙂</div>
            <div>😁</div>
            <div>😋</div>
          </div>

          <div id="randomEm">🤓</div>
        </div>
      </div>
      <div class="tweet-container-button">
        <button type="submit" class="tweet-button button1">Modify</button>
      </div>
    </form>

    <form action="/tweet/<%= element.id %>" method="post" class="">
      <div class="tweet-container-button">
        <button type="submit" class="tweet-button button2" id="boutton">
          Delete
        </button>
      </div>
    </form>

    <div id="randomEmoAppear">
      <!-- <div>🦍</div> -->
    </div>

    <% }) %>

    <div id="emoji">
      <div>😀</div>
      <div>😁</div>
      <div>😂</div>
      <div>🤣</div>
      <div>😃</div>
      <div>😄</div>
      <div>😅</div>
      <div>😆</div>
      <div>😉</div>
      <div>😊</div>
      <div>😋</div>
      <div>😇</div>
      <div>😊</div>
      <div>🙂</div>
      <div>🙃</div>
      <div>😉</div>
      <div>😌</div>
      <div>😍</div>

      <div>🥰</div>
      <div>😘</div>
      <div>😗</div>
      <div>😙</div>
      <div>😚</div>
      <div>😋</div>
      <div>😛</div>
      <div>😝</div>
      <div>😜</div>
      <div>🤪</div>
      <div>🤨</div>
      <div>🧐</div>
      <div>🤓</div>
      <div>😎</div>
      <div>🤩</div>
      <div>🥳</div>
      <div>😏</div>
      <div>😒</div>

      <div>😞</div>
      <div>😔</div>
      <div>😟</div>
      <div>😕</div>
      <div>😣</div>
      <div>😖</div>
      <div>😫</div>
      <div>😩</div>
      <div>🥺</div>
      <div>😢</div>
      <div>😭</div>
      <div>😤</div>
      <div>😠</div>
      <div>😡</div>
      <div>🤬</div>
      <div>😱</div>
      <div>😨</div>
      <div>😓</div>

      <div>🤗</div>
      <div>🤔</div>
      <div>🤭</div>
      <div>🤫</div>
      <div>🤥</div>
      <div>😶</div>
      <div>😐</div>
      <div>😑</div>
      <div>😬</div>
      <div>🥱</div>
      <div>😴</div>
      <div>🤢</div>
      <div>🤮</div>
      <div>😈</div>
      <div>💀</div>
      <div>☠️</div>
      <div>👽</div>
      <div>👾</div>

      <div>🤖</div>
      <div>😺</div>
      <div>😹</div>
      <div>😻</div>
      <div>🙀</div>
      <div>😿</div>
      <div>👌</div>
      <div>👏</div>
      <div>🙏</div>
      <div>🕵️‍♀️</div>
      <div>🕵🏿‍♀️</div>
      <div>👩🏾‍🔬</div>
      <div>🧑🏾‍🎨</div>
      <div>👩🏿‍🏫</div>
      <div>👩🏿‍🦱</div>
      <div>🦸</div>
      <div>🦹‍♀️</div>
      <div>💃</div>
      <div>👩‍❤️‍💋‍👨</div>

      <div>🐙</div>
      <div>🦕</div>
      <div>🐬</div>
      <div>🦧</div>
      <div>🦍</div>
    </div>

    <div id="triangle"></div>

    <script src="/js/emoji.js"></script>
  </body>
</html>
